.searchbar {
  margin-right: 5px;
  padding: 5px 20px;

  border: none;
  border: 1px #c9c9c9 solid;
  border-radius: 5px;

  background-color: #fafafa;
}

.searchBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;

  background-color: #1890ff;
  color: white;

  cursor: pointer;
}

.totalBtn {
  margin-left: 5px;
  padding: 5px 10px;

  border: none;
  border-radius: 5px;

  background-color: #1890ff;
  color: white;

  cursor: pointer;
}
